<form>
  <input type="text" ng-model="search">
  <p ng-show="search">Du suchst gerade nach: {{search}}</p>
</form>

<table class="table" ng-controller="ArticlesCtrl">
  <tr ng-repeat="article in articles | filter:search">
    <td>{{article.id}}</td>
    <td>{{article.name}}</td>
    <td>{{article.active}}</td>
    <td><price value="article.price" /></td>
<!--    <td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article);">Hinzufügen</a></td>-->
  </tr>
</table>


<!--
<div ng-controller="CartCtrl">
  <div ng-hide="cart.getItems().length" class="alert alert-info">Ihr Warenkorb ist noch leer.</div>
  <table ng-show="cart.getItems().length" class="table">
    <tr ng-repeat="item in cart.getItems() track by
        $index" class="cart-item">
      <td>{{item.name}}</td>
      <td>{{item.active | currency}}</td>
    </tr>
    <tr>
      <td>{{cart.getItems().length}} Artikel</td>
      <td>{{cart.sum() | currency}}</td>
      <td></td>
    </tr>
  </table>
</div>

-->
