# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Vim backups and swaps
*~

# Dependencies
*.d


# SSL stuff
*.pem
*.crt
*.key
*.req
*.der
ssl/root-ca/
ssl/intermediate-ca/

# Archives
*.gz
*.tgz
*.tar
*.tar.gz
*.tar.xz

# other stuff
.depend
.codelite/
lib/
obj/
bin/
src/Config.local.mak
src/ac/actube
src/wtp/wtp


